__pycache__/
build/

.vscode/
*.code-workspace
*.spyproject

**/OutputResult/*
Mathematica/*
Testing
Results
src/Benchmarks/**
src/Bloop/CythonModules/**
src/Bloop/Data/**

*.swp
*.png
*.pstats
**/*.json
*.egg-info/
*.pyc
*.svg
