__pycache__/
build/

.vscode/
*.code-workspace
*.spyproject

**/OutputResult/*
Build/*
Testing
.version.py
Share/DRalgoScripts/*
Source/*Generator.py

*.swp
*.png
*.pstats
**/*.json
*.egg-info/
*.pyc
*.svg
