__pycache__/
build/

.vscode/
*.code-workspace
*.spyproject

**/OutputResult/*
Build/*
Testing
.version.py
Share/DRalgoScripts/*
Source/*Generator*.py
Source/SummariseResults*.py

*.txt
*.swp
*.swo
*.png
*.pstats
**/*.json
*.egg-info/
*.pyc
*.svg
*.out
*.sh
